extends ./layout

block title
    | Jim Carey's Best Role

block body
    h1.title Just watch...           
    p.subtitle such great acting
    a(class='button' href='https://www.youtube.com/watch?v=kO9wIrvTvSw') Tell'em Ace Sent Ya